/* * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

  /* }  */
body {
    background-image: url("../images/healthiest-food-for-every-day-2000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* 
nav {
    display: flex;
    align-items:center ;
    justify-content: space-around;
}
h1 {
    font-size: 45px;
    font-family: 'Playfair Display', serif;
    
}
.logo {
    width: 150px;
    border-radius: 75px 75px 75px 75px;
}
.nav-links {
    padding:28px 0;
}
.nav-links li {
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    padding: 5px 0;
}

/* .title {
    text-align: center;
    color: #000000;
    font-family: serif;
}

.form-div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 125px;
}

.wide{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 45%;
    margin-top: 10%;
   
}

.form-el{
    margin-top: 30px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: #46a7e3e3;
}

.eatBtn {
    background-color: #2390c2fc;
}
